.container{
	justify-content:center;
	display:flex;
    height: 37rem;
    width: 40rem;
    margin-top: 12vh;
}
button{
	border:none;
}

.photo-container{
	height: 30rem;
	margin-top:3rem;
	margin-left: -3.5rem;
}
.apple{
	margin-left:-5rem;
}
.product__info{
    margin-left: 4rem;
    margin-top: 3rem;
}